.main {
  margin: 0;
  padding: 0;
}

.game-rotate {
  transform: rotateX(180deg);
}

.game-card {
  transition: transform 2s ease-in;
}


.points {
  position: relative;
  top: 110px;
  right: 125px;
  font-size: 20px;
  display: none;
}